<!DOCTYPE html>
<html>
<head>
  <title>My First Website</title>
  <style>
    body{ 
      <img src="photo.jpg" width="200>"

      background-color: #f0f8ff;
      font-family : Arial;
      text-align:: centre;
    h1 {
      color: blue;
    }
  </style>
</head>
<body>
  <h1>Hello, I'm Sharmila 👋</h1>
  <p>This is my styled website!</p>
</body>
</html>